
/*
.mainPage {
  background-color: #1F2326;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box; 
  background-size: cover;
  
}*/
.earth{
  position: fixed;
  top: 82%;
  left: 260px;
  transform: translate(-50%, -50%);
  height: 1000px;

}
.back{
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.emoji{
  position: fixed;
  top: 85px;
  left: 735px;
  transform: translate(-50%, -50%);
  height: 35px;
}
.ment{
  position: fixed;
  top: 380px;
  left: 1030px;
  transform: translate(-50%, -50%);
  height: 220px;
}
/* main.css */
.slide-container {
  display: flex;
  overflow: hidden;
}

.emoji {
  animation: slide 31s linear infinite; /* Adjust animation duration as needed */
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%); /* Adjust the percentage to match image width */
  }
}

.Navi{
  position: fixed;
}